# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.*.local
.env.test

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
